@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "帳戶已鎖定";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">您的帳戶因為太多無效的登入嘗試而遭到鎖定。</h2>
</hgroup>

<p>
    別擔心，帳戶將在 60 秒內自動解除鎖定。
    請在該時間過後再試一次。
</p>